<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            name="MAD"
            id="MASONAssistedDocumentation">
      </category>
      <wizard
            name="MAD(MASON Assisted Documentation)"
            icon="icons/sample.gif"
            category="MASONAssistedDocumentation"
            class="it.isislab.masonassisteddocumentation.mason.wizards.MASONDocumentationWizard"
            id="it.isislab.masonhelperdocumentation.mason.wizards.MASONDocumentationWizard">
      </wizard>
   </extension>

</plugin>
